*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;

    font-family: "Nunito", sans-serif;
}

header{
    width: 1366px;
    height: 200px;
    background-color: #8ecfca;
    margin: 0 auto;
}
header img{
    height: 95%;
    margin-left: 40px;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: #017c74;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    font-family: "Indie Flower", cursive;
    color: whitesmoke;
    text-decoration: none;
    font-size: larger;

}
h3{
    color: #017c74;
    font-family: "Indie Flower", cursive;
}
p{
    color: #2e4342;
}
main{
    width: 1366px;
    height: 2000px;
    background-color: #fff9e5;
    margin: 0 auto;

    background-image: url(../imgs/wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.personaje{
    width: 1300px;
    height: 400px;
    
    display: inline-block;
    margin-left: 33px;
    margin-top: 80px;
}
.foto{
    width: 400px;
    height: 400px;
    /*background-color: chocolate;*/
    float: left;
    margin-left: 33px;
    text-align: center;

    border-bottom: 4px dashed #ff7c69;
}
.foto img{
    height: 100%;  /* Es un comentario en CSS */
}
.info{
    width: 800px;
    height: 400px;
    background-color: #fff9e590;
    float: left;
    margin-left: 33px;
    padding: 30px;
    border-bottom: 4px dashed #ff7c69;
}
.info h3{
    font-size: 1.8rem;
    margin: 20px 0;
}

footer{
    width: 1366px;
    height: 300px;
    background-color: #ff7c69;
    margin: 0 auto;
    padding: 20px;
}
footer a{
    display: block;
    padding-top: 10px;
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
}
footer a:hover{
    text-decoration: underline;
}
footer p{
    color: white;
}